.names {
    display: inline-block;
    margin: auto 0;
    text-align: center;
    width: 580px;
}

.ampersand {
    @include visuallyhidden;
}

.kevin-name, .ria-name {
    @include image-replace;
    border-radius: 50%;
    border-style: solid;
    border-width: 20px;
    display: inline-block;
    height: 250px;
    width: 250px;
}

.kevin-name {
    background: url(/images/kevin.jpeg) -50px -60px;
    background-size: 350px;
    border-color: #333;
}

.ria-name {
    background: url('/images/ria.jpeg') left -125px;
    background-size: 325px;
    border-color: #ccc;
}
