.home {
    main {
        margin: 0 auto;
        width: 35rem;
    }
    ul {
        font-weight: 300;
        padding: 0;
        list-style: none;
    }
    .us {
        border-bottom: 1px solid #ccc;
        font-size: 3.5rem;
        margin-bottom: 3rem;
        padding-bottom: 3rem;
    }
    .additional-links {
        font-size: 1.5rem;
    }
}
