body {
    font-family: 'avenir next', avenir, 'Open Sans', 'helvetica neue', arial, sans-serif;
    text-align: center;
    text-rendering: optimizeLegibility;
}

header h1 {
    color: #2a2a2a;
    font-size: 5rem;
    font-weight: 300;
    margin: 3rem 0;
    text-transform: uppercase;
}

$link-colour: #5b92b5;

a {
    color: $link-colour;
    text-decoration: none;
}

a:hover {
    color: darken($link-colour, 20%);
}
