.home main {
  margin: 0 auto;
  width: 35rem; }
.home ul {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  list-style: none; }
.home .us {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3rem;
  padding-bottom: 3rem; }
  .home .us article {
    margin-bottom: 1.5rem; }
  .home .us h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0; }
  .home .us .links {
    font-size: 1.5rem; }
    .home .us .links li {
      display: inline-block;
      margin-right: 1.5rem; }
    .home .us .links li:last-of-type {
      margin-right: 0; }
.home .additional-links {
  font-size: 1.5rem;
  margin-bottom: 3rem; }
