.home main {
  margin: 0 auto;
  width: 90%; }
.home ul {
  font-weight: 300;
  margin: 0;
  padding: 0;
  list-style: none; }
.home .us {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3rem;
  padding-bottom: 3rem; }
  .home .us article {
    margin-bottom: 1.5rem; }
  .home .us h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0; }
.home .links {
  font-size: 1.5rem;
  margin-top: 1.5rem; }
  .home .links li:after {
    content: "·";
    display: block; }
  .home .links li:last-of-type:after {
    display: none; }
.home .additional-links {
  font-size: 1.5rem;
  margin-bottom: 3rem; }

@media only screen and (min-width: 35em) {
  .home main {
    width: 35rem; }
  .home .links {
    margin-top: 0; }
    .home .links li {
      display: inline-block;
      margin-right: 1.5rem; }
      .home .links li:after {
        content: none; }
    .home .links li:last-of-type {
      margin-right: 0; } }
