html {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    width: 600px;
}

body > h1 {
    display: none;
}

.person {
    margin-bottom: 20px;
}

.person h1 {
    margin: 0;
}

.person ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.person li {
    margin-right: 10px;
}
